.venvdehazing
.DS_Store
__pycache__
.env
pre_trained.ipynb
weights/*
I-HAZEsmall_copie/
O-HAZEsmall_copie/
wandb/
test_set/
train_set/
val_set/
weights_2/
weights_3/
weights_4/
weights_5/
DHQ/
train_set_DHQ/
IHAZE/
metrics.json
mprofile_20250519124731.dat